body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.movies{
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat( auto-fit, minmax(16rem, 1fr) );
  place-items: center;
  margin-top: 4rem;
}
.poster{
  height: 16rem;
  overflow: hidden;
}

.poster img{
  overflow: hidden;
  width: 16rem;
}

.movie{
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: azure;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: fixed;
  background-color: rgb(233, 226, 217);
  left: 0;
  right: 0;
  top: 0;
}

header p {
  font-weight: bold;
  color: gray;
  
}